{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'libraries/leaflet-1.6/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/bootstrap-4.5.2-dist/css/bootstrap.min.css' %}">

    {% block style %}
    {% endblock style %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="description" content="Find planning applications near you home">
    <title>WIMBY</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">WIMBY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if is_home is True %}
            <button class="btn btn-outline-success mr-sm-2 my-2 my-lg-0" type="button" data-toggle="collapse"
                    data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Application Type
            </button>
            <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="button" data-toggle="collapse"
                    data-target="#dateSliderMain"
                    aria-expanded="false" aria-controls="dateSliderMain">
                Date
            </button>
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <a class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
            <a class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" href="{% url 'profile' %}">Profile</a>

            {% else %}
            <a class="login-register" href="{% url 'login' %}">LOGIN/REGISTER</a>
            {% endif %}
        </form>
    </div>
</nav>
<div class="container-fluid main-container">
    <div id="user-messages" class="col-12 justify-content-end p-3 position-absolute row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} col-8 text-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</div>

<script src="{% static 'libraries/leaflet-1.6/leaflet.js' %}"></script>
<script src="{% static 'libraries/jquery-3.3.1/jquery.min.js' %}"></script>
<script src="{% static 'libraries/popper-1.16/popper.min.js' %}"></script>
<script src="{% static 'libraries/bootstrap-4.5.2-dist/js/bootstrap.min.js' %}"></script>
{% block javascript %}
{% endblock javascript %}
<script>
function removeMessages(){
    $('#user-messages').animate({opacity: "0"}, 1000, 'linear');
}
window.setTimeout(function () {
    removeMessages();
}, 3000);

</script>
</body>
</html>