{% extends "home/base.html" %}
{% block content %}
<div class="row h-100">
    <div id="list-view" class="col-4 h-100 overflow-auto">
        <div class="position-absolute w-100 ml-n3 collapse" id="collapseExample">
            <div id="application-type-options" class="bg-light border-top card-body position-absolute shadow-sm w-100">
                <button id="pending" type="button" class="btn btn-outline-secondary">Pending</button>
                <button id="granted" type="button" class="btn btn-outline-secondary">Granted</button>
                <button id="refused" type="button" class="btn btn-outline-secondary">Refused/Invalid</button>
                <button id="withdrawn" type="button" class="btn btn-outline-secondary">Withdrawn</button>
            </div>
        </div>
    </div>
    <div id="map" class="col-8"></div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    {% if user.is_authenticated and user.profile %}
    let marker_lng = {{ user.profile.location.x }}
    let marker_lat = {{ user.profile.location.y }}
    {% else %}
    let marker_lng = -6.25
    let marker_lat = 53.31
    {% endif %}
    const latlng = L.latLng(marker_lat, marker_lng);

    // create the map object
    let map = L.map('map').setView([marker_lat, marker_lng], 15);

    // create icons
    function creasomething(variable) {

        return 'hi'
    }



    // get the data
    let planningData = JSON.parse('{{ data| escapejs }}')
    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png', {
        maxZoom: 20,
        minZoom: 8,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);

    L.marker([marker_lat, marker_lng]).addTo(map)
        .bindPopup('I am in Dublin.<br> Looking for plannings.')
        .openPopup();

    const ONE_WEEK = 7 * 24 * 60 * 60 * 1000;
    const TODAY = Math.floor(Date.now())
    const EIGHT_WEEKS_AGO = TODAY - (8 * ONE_WEEK)
    planningGeoJSON = L.geoJSON(planningData, {
        style: function (feature) {
            let colour = 'white';
            let refuse_planning = /refuse/;
            let withdrawn_planning = /withdrawn/;
            let granted_planning = /(grant|split)/;

            if(feature.properties['Decision'] == null) {
                feature.properties['PlanningStatus'] = 'pending';
                colour = 'orange';
            }else{
                if (refuse_planning.test(feature.properties['Decision'].toLowerCase())) {
                    feature.properties['PlanningStatus'] = 'refused';    
                    colour = 'red';
                }
                if (withdrawn_planning.test(feature.properties['Decision'].toLowerCase())) {
                    feature.properties['PlanningStatus'] = 'withdrawn'; 
                    colour = 'blue'
                };
                if (granted_planning.test(feature.properties['Decision'].toLowerCase())) {
                    feature.properties['PlanningStatus'] = 'granted';
                    colour = 'green';
                }

            }
            // decide colour of marker
            //if (feature.properties['ReceivedDate'] > EIGHT_WEEKS_AGO) colour = 'black';


            return {
                fillOpacity: 0.1,
                fillColor: colour,
                color: colour,
                opacity: 0.3,
                radius: 10
            };
        },

        // create list items
        pointToLayer: function (geoJSONPoint, latlng) {
            divhtml = `
                        <div id="${geoJSONPoint.properties['ApplicationNumber'].replace('\/', '')}" class="list-item" >
                            Application: ${geoJSONPoint.properties['ApplicationNumber']} <br>
                            ReceivedDate: ${new Date(geoJSONPoint.properties['ReceivedDate']).toLocaleDateString("en-GB")} <br>
                            Status: ${geoJSONPoint.properties['ApplicationStatus']} <br>
                            <a target="_blank" href="http://www.dublincity.ie/swiftlg/apas/run/WPHAPPDETAIL.DisplayUrl?theApnID=${geoJSONPoint.properties['ApplicationNumber']}">Link</a>
                            <hr>
                        </div>`

            $('#list-view').append(divhtml);

            return L.circle(latlng)
        },

        onEachFeature: function (feature, layer) {
            layer.on('click', function () {
                let id = $('#' + feature.properties['ApplicationNumber'].replace('\/', ''))
                id.css("background-color", "lightgrey");
                // https://stackoverflow.com/a/55572009/8032179
                document.getElementById(feature.properties['ApplicationNumber'].replace('\/', '')).scrollIntoView({ behavior: 'smooth' });
            });
        }
    }
    ).addTo(map);

    // change marker size on zoom
    map.on('zoomend', function () {
        if (map.getZoom() > 17) {
            planningGeoJSON.eachLayer(function (layer) { layer.setRadius(5) })
        }
        else if (map.getZoom() == 17) {
            planningGeoJSON.eachLayer(function (layer) { layer.setRadius(10) })
        }
    });

    map.fitBounds(planningGeoJSON.getBounds(), {
        padding: [20, 20]
    });


    $(document).ready(function() {

        $('#pending').click(function() {
            planningGeoJSON.eachLayer(function(layer){
                if(layer.feature.properties['PlanningStatus'] == "pending" && $('#pending')[0].classList.contains('active')){
                    map.addLayer(layer)  
                }else if(layer.feature.properties['PlanningStatus'] == "pending"){
                    map.removeLayer(layer)  
                }
            })
            $(this).toggleClass("active");
        });

        $('#granted').click(function() {
            planningGeoJSON.eachLayer(function(layer){
                if(layer.feature.properties['PlanningStatus'] == "granted" && $('#granted')[0].classList.contains('active')){
                    map.addLayer(layer)  
                }else if(layer.feature.properties['PlanningStatus'] == "granted"){
                    map.removeLayer(layer)  
                }
            })
            $(this).toggleClass("active");
        });

        $('#refused').click(function() {
            planningGeoJSON.eachLayer(function(layer){
                if(layer.feature.properties['PlanningStatus'] == "refused" && $('#refused')[0].classList.contains('active')){
                    map.addLayer(layer)  
                }else if(layer.feature.properties['PlanningStatus'] == "refused"){
                    map.removeLayer(layer)  
                }
            })
            $(this).toggleClass("active");
        });

        $('#withdrawn').click(function() {
            planningGeoJSON.eachLayer(function(layer){
                if(layer.feature.properties['PlanningStatus'] == "withdrawn" && $('#withdrawn')[0].classList.contains('active')){
                    map.addLayer(layer)  
                }else if(layer.feature.properties['PlanningStatus'] == "withdrawn"){
                    map.removeLayer(layer)  
                }
            })
            $(this).toggleClass("active");
        });


      });

</script>
{% endblock javascript %}