{% extends "home/base.html" %}
{% load static from staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'libraries/nouislider/nouislider.css' %}">
{% endblock style %}

{% block content %}
<div class="row h-100">
    <div id="list-view" class="col-4 h-100 overflow-auto list-group list-group-flush">
        <div class="position-fixed w-100 ml-n3 collapse bring-to-front" id="collapseExample">
            <div id="application-type-options" class="bg-light border-top card-body position-absolute shadow-sm col-4">
                <button id="pending" type="button" class="btn btn-outline-secondary mt-3 mr-2">Pending</button>
                <button id="granted" type="button" class="btn btn-outline-secondary mt-3 mr-2">Granted</button>
                <button id="refused" type="button" class="btn btn-outline-secondary mt-3 mr-2">Refused</button>
                <button id="invalid" type="button" class="btn btn-outline-secondary mt-3 mr-2">Invalid</button>
                <button id="withdrawn" type="button" class="btn btn-outline-secondary mt-3 mr-2">Withdrawn</button>
                <button id="information" type="button" class="btn btn-outline-secondary mt-3 mr-2">Additional
                    Information
                </button>
            </div>
        </div>
        <div class="position-fixed w-100 ml-n3 collapse bring-to-front" id="dateSliderMain">
            <div id="price-slider-options" class="bg-light border-top card-body position-absolute shadow-sm col-4">
                <div id="dateSlider" class="m-5"></div>
            </div>
        </div>
    </div>
    <div id="map" class="col-8"></div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'libraries/nouislider/nouislider.js' %}"></script>
<script src="{% static 'libraries/jquery-scrollintoview/jquery.scrollintoview.min.js' %}"></script>
<script>
    {% if user.is_authenticated and user.profile %}
    const marker_lng = {{ user.profile.location.x }}
    const marker_lat = {{ user.profile.location.y }}
    {% else %}
    const marker_lng = -6.25
    const marker_lat = 53.31
    {% endif %}
    const planningData = JSON.parse('{{ data| escapejs }}')
    const councilData = JSON.parse('{{ council| escapejs }}')
</script>
<script src="{% static 'js/map.js' %}"></script>
{{ block.super }}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
  //<![CDATA[
  Stripe.publishableKey = '{{ publishable }}';
  //]]>
  </script>
  <script type="text/javascript" src="{% static 'checkout/stripe.js' %}"></script>
{% endblock javascript %}