.idea/
.vscode/
.DS_Store
*.sqlite3
__pycache__/

# dotenv
.env

# Django stuff:
*.log
local_settings.py

# Testing
.coverage
htmlcov/
notebooks/.ipynb_checkpoints/
notebooks/IrishPlanningApplications.geojson
notebooks/Untitled.ipynb
