[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
django-crispy-forms = "*"
coverage = "*"
requests = "*"
django-leaflet = "*"
django-allauth = "*"
python-decouple = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-storages = "*"
boto = "*"
boto3 = "*"
stripe = "*"
geopandas = "*"
shapely = "*"

[requires]
python_version = "3.7"
