{% extends "home/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block style %}
{% leaflet_css plugins="forms" %}
{% endblock style %}


{% block content %}
<div class="mobile-form location-form content-section ">
    <form class="px-sm-5 register-profile" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-sm-4">Set Location</legend>
            To set location:
            <ul>
                <li>Zoom to desired location on the map</li>
                <li>Click the marker icon<div
                        class="align-middle d-inline-block leaflet-bar leaflet-draw-toolbar ml-2 mt-0"><a
                            title="Draw a marker"></a></div>
                </li>
                <li>Click the Map to place marker</li>
                <li>Click the "Set Location" button</li>
            </ul>
            {{ profile_form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Set Location</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascript %}
{% leaflet_js plugins="forms" %}
{% endblock javascript %}