{% extends "home/base.html" %}

{% block style %}
<style>
    .container-fluid{
        background: -webkit-linear-gradient(bottom,#0250c5,#e8f0ff);
    }
    .form-container{
    background-color: white;
    border-radius: 3px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 form-container m-5 p-5">
        <div class="alert alert-info text-center">
            Your password has been reset
        </div>
        <div class="justify-content-center row">
            <a href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>
{% endblock content %}