{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    .container-fluid{
        background: -webkit-linear-gradient(bottom,#0250c5,#e8f0ff);
    }
    .form-container{
    background-color: white;
    border-radius: 3px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="mobile-form row justify-content-center">
    <div class="col-11 col-md-8 col-xl-4 form-container m-3 p-4 m-sm-5 p-sm-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-sm-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary w-100" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}