{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    #map-location {
        height:50px;
        width:50px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="content-section">
    <p  class="pt-4">Email</p>
    <p class="col-6" >bglynch17@gmail.com</p>

    <p class="pt-4">Location</p>
    <div id="map"  class="col-11 ml-3" style="height: 500px;"></div>


    <a class="btn btn-outline-success mt-4  ml-3" href="{% url 'choose_location' %}">Edit Location</a>
</div>
{% endblock content %}

{% block javascript %}
<script>
    const marker_lng = {{ user.profile.location.x }}
    const marker_lat = {{ user.profile.location.y }}
    const latlng = L.latLng(marker_lat, marker_lng);

// create the map object
let map = L.map('map').setView([marker_lat, marker_lng], 15);

// get the data
L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png', {
    maxZoom: 20,
    minZoom: 7,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    zoomSnap: 0.25,
}).addTo(map);

// add a scale to the map
let scale = L.control.scale().addTo(map);

// set makers for User
L.marker([marker_lat, marker_lng]).addTo(map)
    .bindPopup('I am in Dublin.<br> Looking for plannings.')
    .openPopup();
</script>

{% endblock javascript %}