{% extends "home/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block style %}
{% leaflet_css plugins="forms" %}
{% endblock style %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascript %}
{% leaflet_js plugins="forms" %}
<script>
    let passwordField = document.getElementById('div_id_password');
    passwordField.style.display = 'none';

</script>
{% endblock javascript %}