{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class="mobile-form row justify-content-center">
    <div class="col-11 col-md-8 col-xl-4 form-container m-3 p-4 m-sm-5 p-sm-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Join Today</legend>
                {{ user_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary w-100" type="submit">Sign Up</button>
            </div>
        </form>

    </div>
</div>
{% endblock content %}